.navigation-bar {
    width: 250px;
    height: 100%;
    background-color: #333;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
    transition: width 0.3s; 
  }
  

  @media (max-width: 768px) {
    .navigation-bar {
      width: 60px;
      overflow: hidden;
    }
  }
  
  .logo {
    width: 100px;
    height: auto;
    margin-bottom: 20px;
  }
  
  .logo img {
    width: 100%;
    height: auto;
  }
  
  .nav-items {
    list-style: none;
    padding: 0;
  }
  
  .nav-items li {
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .nav-items li:not(:last-child) {
    margin-bottom: 10px;
  }
  
  .nav-items li:hover {
    background-color: #555;
  }
  
  .nav-items li.active {
    color: green;
  }
  
  .search {
    position: relative;
  }
  
  .search-input {
    width: calc(100% - 40px);
    padding: 5px 1px 10px 40px;
    border-radius: 20px;
  }
  
  .search-icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: black;
  }
  