.App {
  font-family: sans-serif;
  text-align: center;
  position: relative;
}
.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.left {
  flex: 0 0 20%;
}

.top-center {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.top-right {
  flex: 0 0 20%;
  display: flex;
  top: 0;
  right: 0;
  justify-content: flex-end;
  position: absolute;
}

.center-bottom {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
